.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.carousel .carousel-item {
  height: 500px;
}

/* .carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    
} */

.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  /* min-width: '250px';
  max-width: '300px'; */
  width: 550px;
  padding: 20px;
  text-align: center;
}
* {
  box-sizing: border-box;
}







/* .jumbotron {  
  padding-top: 30px;  
  padding-bottom: 30px; 
   margin-bottom: 30px; 
    color: inherit;  background-color: #eee;
min-width:  30%; 
align-items:center; background-color: white;max-width: 30%;} */

/* .jumbotron2 {  
  padding-top: 30px;  
  padding-bottom: 30px; 
   margin-bottom: 30px;   
   color: inherit;  
width: 95%; 
align-items:center; 
background-color: white;}  */




