
.carousel .carousel-item {
  height: 500px;
}

.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 550px;
  padding: 20px;
  text-align: center;
}
* {
  box-sizing: border-box;
}







/* .jumbotron {  
  padding-top: 30px;  
  padding-bottom: 30px; 
   margin-bottom: 30px; 
    color: inherit;  background-color: #eee;
min-width:  30%; 
align-items:center; background-color: white;max-width: 30%;} */

/* .jumbotron2 {  
  padding-top: 30px;  
  padding-bottom: 30px; 
   margin-bottom: 30px;   
   color: inherit;  
width: 95%; 
align-items:center; 
background-color: white;}  */




